body{background-color:silver}.imagen-redonda {border-radius: 50%;}
p{font-family: 'Times New Roman', Times, serif; font-size: medium;}
h3{font-family: 'Times New Roman', Times, serif; font-size: medium;}
.destacado{background-color:gainsboro;}
